.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #063547;
}

.header {
	display: grid;
	text-align: center;
}
.header_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	background-color: #D8F5FF;
}
.logo {
	width: 164px;
	height: 164px;
}
.storeLogo {
	width: 200px;
	height: 64px;
}
.title {
	font-size: 36px;
	font-weight: 500;
	margin: 1.3rem 1.3rem 0 1.3rem;
}
.description {
	font-size: 20px;
	font-weight: 400;
	margin: 1rem 0 2rem 0;
}
.storeLinks {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 2rem;
}
.button {
	margin: 1rem;
}
.phones {
	display: flex;
	margin: 2rem auto 2rem auto;
	align-content: center;
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #D8F5FF;
	padding: 3rem;
	position: sticky;
	width: 100%;
	bottom: 0;
}
.socialLinks {
	margin-top: 1rem;
}

.socialLinks a {
	color: #222;
    text-decoration: none;
    margin: 0 0.5rem;
}

.socialLinks a:hover {
	color: #007bff;
}

@media screen and (max-width: 768px) {
	.main {
		padding: 0;
	}
	.logo {
		width: 100px;
		height: 100px;
	}
	.storeLogo {
		width: 150px;
		height: 48px;
	}
	.title {
		font-size: 24px;
	}
	.description {
		font-size: 16px;
	}
	.storeLinks {
		flex-direction: column;
		margin: 1rem;
	}
	.button {
		margin: 0.5rem;
	}
    .phones {
        flex-direction: column;
    }
}