.main {
	display: flex;
	flex-direction: column;
	padding: 6rem;
	min-height: 100vh;
}

.header {
	display: grid;
	text-align: center;
	gap: 2rem;
}
.header_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	font-size: 64px;
	font-weight: 500;
	margin: 2rem;
}
.description {
	font-size: 32px;
	font-weight: 400;
	margin: 1.5rem;
}
.storeLinks {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 2rem;
}
.button {
	margin: 1rem;
}