.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-4);
}

.title {
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--text-gray-800);
}

.list {
  display: grid;
  gap: var(--space-4);
  min-height: 200px;
}

.empty {
  color: var(--text-gray-600);
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
